.img-circle {
	border-radius: 50%;
	height: 170px;
	width: 170px;
}

.card-title {
	text-align: left;
	font-family: 'Raleway', sans-serif;
	padding: 20px 0px 0px 0px;
}

.card-text {
	font-family: 'Raleway', sans-serif;
	padding: 10px 0px 10px 0px;
}

.name {
	text-align: center;
	font-family: 'Raleway', sans-serif;
	padding: 20px 0px 0px 0px;
}

.card {
	margin-bottom: 10px;
	margin-top: 10px;
	background-color: #FDF3E9;
}

i {
	padding: 0px 10px 0px 10px;
	align-self: center;
}

.card-footer {
	color: #fad9b8;
	background-color: #ae5835;
}


.progress {
	background-color: #fad9b8;
}

.progress-bar {
	background-color: #ae5835;
}

.navbar {
	background-color: #ae5835;
}

.fa-map-marker {
	color:#ae5835;
}

.fa-graduation-cap {
	color:#ae5835;
}

.fa-heart {
	color:#ae5835;
}

body {
	background-color: #fad9b8;
}

.nav-link {
	color: #fad9b8;
	display: inline;
}

.nav-link:hover {
	color: #5c2e00;
	display: inline;
}

body, html {
	height: 100%
}

.contain {
	max-width: 100%
	height: auto;
}

section.module:last-child {
	margin-bottom: 0;
}

section.module h2 {
	margin-bottom: 40px;
	font-size: 30px;
	margin: 0px 20px 0px 20px;
	color: #fad9b8;
	font-family: 'Raleway', sans-serif;
}

section.module p {
	margin-bottom: 40px;
	font-size: 30px;
	margin: 20px 20px 20px 20px;
	font-family: 'Raleway', sans-serif;
	color: #fad9b8;
}

section.module p:last-child {
	margin-bottom: 0;
}

section.module.content {
	padding: 40px 0;
}

section.module.parallax {
  height: 600px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

section.module.parallax h1 {
  color: rgba(194, 80, 54, 0.8);
  font-size: 48px;
  line-height: 600px;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  font-family: 'Raleway', sans-serif;
}

section.module.parallax-1 {
  background-image: url("../img/tumblr_static_desktop-wallpaper-fall-colors121.jpg");
}

section.module.parallax-2 {
  background-image: url("../img/autumn-wallpaper-tumblr-25-1920x1080.jpg");
}

section.module.parallax-3 {
  background-image: url("../img/autumn-leaves-drawing-wallpaper-4.jpg");
}

@media all and (min-width: 600px) {
  section.module h2 {
    font-size: 42px;
  }
  section.module p {
    font-size: 20px;
  }
  section.module.parallax h1 {
    font-size: 96px;
  }
}
@media all and (min-width: 960px) {
  section.module.parallax h1 {
    font-size: 160px;
  }
}

#gallery {
	background-color: #ae5835;
}

#index {
	background-image: url("../img/Golden-sun-a-in-the-summer-season-Wheat-field_2880x1800.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

.landing {
	text-align: center;
	font-family: 'Raleway', sans-serif;
	font-size: 100px;
	margin: 70px 30px 30px 30px;
	color: rgba(174,88,53,0.7);
	text-shadow: 0 0 15px rgba(104, 52, 31, 0.4);
}

.land {
	position: relative;
	overflow: hidden;
}

.land h1 {
	padding: 200px;
	position: relative;
	z-index: 2;
}

.indice {
	text-align: center;
	color: rgba(250,217,184,0.9);
	font-family: 'Raleway', sans-serif;
	margin: 20px 20px 20px 20px;
	font-size: 40px;
}

.indici {
	color: rgba(250,217,184,0.8);
	text-decoration: none;
}

.indici:hover {
	color: rgba(250,217,184,1);
	text-decoration: none;
}